*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #66A182;
}

.Text{
    text-align: center;
    font-size: 2.3rem;
    margin: 20px 20px;
    margin-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.msgContainer{
    text-align: center;
}
#msg{
    font-size:  2.5rem;
    color: green;
    padding-bottom: 10px;
    /* background-color: rgb(230, 215, 130); */
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    border: none;
    color: #b0413e;
    font-size: 3.5rem;
    cursor: pointer;
    box-shadow: 0 0 1rem #333333;
    background-color: #ffffc7;
}
#reset-btn ,  #new-game{
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    background-color: #191913;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
}
.hide{
    display: none;
}